body {
  font-family: "Kodchasan", sans-serif;
  text-align: center;
}
/* Universal selector*/
* {
  margin: 0;
  padding: 0;
}

.intro {
  top: 0;
  background: #bb86a3;
  min-height: 100vh;
  padding-top: 20vh;

}
.intro h1 {
  background:  #bb86a3;
  margin-bottom: 200px;
  font-size: 4.5em;
}
.intro-image {
  display: block;
  width: 400px;
  height: auto;
  margin: 20px auto;
  align-items: center;
  box-shadow: 0 10px 50px hsla(314, 86%, 49%, 0.102);
  
}
.intro p {
  font-style: oblique;
  color: #100202;
  text-align: juatify;
}
.intro-role {
  font-weight: bold;
}

nav .title {
  font-weight: normal;
  float: left;
  color: #120e0e;
  padding-top: 12px;
  padding-left: 20px;
}

nav ul {
  position: fixed;
  width: 100%;
  background-color: #b71594;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 5;
}

nav ul li {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right: 10px;
  overflow: hidden;
  background-color: #b71594;
}

nav ul li a {
  display: block;
  color: hsl(0, 9%, 7%);
  padding: 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: hsl(314, 62%, 29%);
  color: white;
}

nav .logo {
  float: left;
  margin-right: 6px;
  height: 10%;
  width: 6%;
}

.work {
  padding-top: 60px;
  margin-top: -60px;
  

}

.work .work-header {
  margin-top: 50px;
  color: #333333;
  font-weight: normal;
}

.project {
  text-decoration: none;
  background-color: #c08b9d;
  color: #ec2bdf;
  display: inline-block;
  overflow: hidden;
  border: 2px solid #b11ac8;
  height: 220px;
  width: 280px;
  margin: 40px 100px;
  border-radius: 5%;
}

.project-pic {
  width: 100%;
  height: 180px;
  border-bottom: 2px solid lightblue;
}

.project-title {
  font-weight: bold;
}

.show-all {
  text-decoration: none;
  display: block;
  width: 200px;
  height: 30px;
  margin: 20px auto 90px;
  background-color: #333333;
  color: #bababa;
  font-weight: bold;
  font-size: 1em;
  border: 2px solid #bababa;
  border-radius: 10px;
  cursor: pointer;
  padding-top: 10px;
}

.show-all:hover {
  background: #dcdcdc;
  color: #333333;
}

@media only screen and (max-width: 500px) {
  nav ul {
    text-align: center;
  }
  nav ul li {
    margin: 20px;
  }
  .project {
    margin: 40px 0;
  }
}

.contact {
  background: #dcdcdc;
  padding-bottom: 160px;
  background-color: #bb86a3;
}

.header {
  padding: 160px 0 110px;
}

.contact-details {
  display: inline-block;
  font-weight: bold;
  margin: 0 35px 45px 35px;
  list-style-type: none;
  border: 2px solid #90c695;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: #e0ebe8;
  color: #008080;
  text-decoration: none;
}

.contact-details:hover {
  background: #e4f1fe;
  color: green;
}

footer {
  padding: 20px;
  background-color: #333333;
  color: white;
  line-height: 40px;
}

footer a {
  color: white;
}

@media only screen and (max-width: 367px) {
  .contact-details {
    border: 2px solid #90c695;
    border-radius: 0;
    width: 90px;
    height: 20px;
    padding: 10px;
    line-height: normal;
  }
}

.fa {
  padding: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 10px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-gmail {
  size: 10%;
}

.fa-twitter {
  color: white;
}

.fa-github {
  color: white;
}

.skills {
 display: flex;
 justify-content: center;
 
}

.skill {
  display: flex;
  align-items: center;
  margin-right: 20px; 
}

